@import "https://fonts.googleapis.com/css?family=Indie+Flower";
$c-orange: #F4B558;
$c-light: #FEFFEA;
$c-light-blue: #ADDCE4;
$c-dark: #586B8F;

*{
  box-sizing: border-box;
}

body{
  background: $c-light;
  font-family: 'Indie Flower', cursive;
  // overflow: hidden;
}

.container{
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 7.5px;
  // position: relative;
  // top: 275px;
  // left: 50%;
  // transform: translate(-50%,-50%);
  // max-width: 800px;
  // // height: 400px;
  // // background: #262626;
}
.global-header{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  color: $c-dark;
  background: $c-orange;
  text-align: center;
  & > *{
    position: relative;
    z-index: 1;
  }
  &:after{
    content: "";
    display: block;
    position: absolute;
    top: -440px;
    border-radius: 50%;
    width: 850px;
    height: 600px;
    box-shadow: 0 0 0 10000vh $c-light;
    border-radius: 50%;
  }
  &__logo{
    display: block;
    width: 120px;
    z-index: 0;
  }
  &__title{
    margin: 45px 0 0;
    font-weight: normal;
    font-size: 36px;
    line-height: 1;
  }
  &__subtitle{
    margin-top: 10px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: 0.6;
    color: $c-orange;
  }
}
.info.active {
  top: 0;
  // display: flex;
  left: 0%;
  width: 100%;
  height: 100%;
  }
.info {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 100%;
  width: 0px;
  transition: .5s;
}
.breeds.active {
  top: 0;
  left: -150%;
  width: 100%;
}
.button-reset {
  position: relative;
  top: 0;
  left: 0;
}
.grid-sizer,
.grid {
  width: 33.333%;
}

.grid {
  float: left;
}

.grid img {
  display: block;
  max-width: 100%;
}

.breeds{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: .5s;
}
.breed{
  position: relative;
  width: 20%;
  padding: 10px 7.5px;
  &:nth-child(5n+1),
  &:nth-child(5n+5){
    margin-top: -60px;
  }
  &:nth-child(5n+2),
  &:nth-child(5n+4){
    margin-top: -20px;
  }
  &__link{
    position: relative;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: $c-light;
    background-size: cover;
    border-radius: 50%;
    background-color: $c-light-blue;
    background-position: 50% 50%;
    transition: padding 0.2s ease;
    &:before{
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 100%;
      background: rgba($c-dark, 0.5);
      border-radius: 50%;
      transition: background 0.2s ease;
    }
    &:hover{
      padding: 0;
      &:before{
        background: rgba($c-orange, 0.9);
      }
    }
  }
  &__title{
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    letter-spacing: 1px;
    transition: transform 0.2s ease, color 0.2s ease;
  }
  &__link:hover &__title{
    transform: translateY(-50%) scale(1.3);
  }
}
